<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2021. Udeytech Technologies All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Udeytech\PromoBannersLite\Api\BannersRepositoryInterface" type="Udeytech\PromoBannersLite\Model\BannersRepository"/>
	<preference for="Udeytech\PromoBannersLite\Api\Data\BannersInterface" type="Udeytech\PromoBannersLite\Model\Data\Banners"/>
	<preference for="Udeytech\PromoBannersLite\Api\Data\BannersSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
