<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2021. Udeytech Technologies All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productkitsetting>
            <productkitset>
                <custom_discount>25</custom_discount>
                <custom_disctype>percent</custom_disctype>
                <custom_categories></custom_categories>
                <free_categories></free_categories>
                <custom_productqty>3</custom_productqty>
                <free_productqty>3</free_productqty>
                <free_minprice>0</free_minprice>
                <hide_products>0</hide_products>
                <custom_cmsblock></custom_cmsblock>
                <free_cmsblock></free_cmsblock>
            </productkitset>
        </productkitsetting>
    </default>
</config>
