<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2021. Udeytech Technologies All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="makeupcounter_model_observer">
        <observer instance="Udeytech\MakeupCounter\Observer\Makeupcounter\ModelObserver"
                  name="udeytech_makeupcounter_observer_makeupcounter_modelobserver_makeupcounter_model_observer"/>
    </event>
</config>
